@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "CustomFont1";
  src: url("./Fonts/NBInternationalProBoo.woff2");
}

@font-face {
  font-family: "RejouiceFont";
  src: url("./Fonts/Rejouice-Headline.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  user-select: none;
}

#emptyDiv {
  margin-top: 32vh;
  height: 20vh;
  width: 100%;
}

.gap {
  width: 100%;
  height: 20vh;
  margin: 3vh 0;
  background-color: lightseagreen;
}

.line {
  background-color: rgb(37, 35, 35);
  height: 1px;
  width: 0;
  transition: width 0.5s ease-out;
}
#page1 {
  height: 100%;
  width: 100%;
  background-color: #dadada;
  position: relative;
}
#page1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

#page1-content {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
#page1-content nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw 2vw;
  width: 100%;
  font-family: "CustomFont1", sans-serif;
}

#page1-content nav h3 {
  font-size: 1.4vw;
}
#page1-content nav h2 {
  font-size: 1.4vw;
  font-weight: 100;
}

#page1-content h1 {
  color: #fff;
  font-size: 24vw;
  font-weight: 100;
  font-family: "RejouiceFont", sans-serif;
  line-height: 27vw;
}

#page1-content h1 span {
  font-family: "RejouiceFont", sans-serif;
  font-size: 27vw;
}

#gola {
  background-color: rgba(78, 78, 78, 0.5);
  color: #fff;
  border-radius: 50%;
  height: 8vw;
  width: 8vw;
  position: fixed;
  z-index: 9;
  font-family: "CustomFont1", sans-serif;
  transform: translate(-90%, -90%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2vw 1.2vw;
}

#gola h2 {
  font-size: 1.3vw;
}

#page2 {
  min-height: 100%;
  width: 100%;
  background-color: #faf8f3;
  z-index: 11;
  font-family: "CustomFont1", sans-serif;
}

.elem1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-top: 15px;
  height: 20vh;
}
#page2-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2vw 2vw;
  margin: 0 2vw;
  border-bottom: 2px solid #bbbab6;
  font-weight: 500;
  font-size: 1.8vw;
}

.elem2 {
  width: 93%;
  min-height: 40vh;
  margin: 0 3vw;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 6vh;
  z-index: 12;
  line-height: 1.07;
}

.elem2 h1 {
  font-family: "CustomFont1", sans-serif;
  font-weight: 500;
  /* opacity: 1; */
  font-size: 4vw;
  transform: translateY(100x);
  /* text-align: start; */
  padding: 0 3vw;
}

.elem3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3 0vh;
  width: 100%;
  height: 50vh;
  z-index: 12;
  /* min-height: 40vh; */
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family: "CustomFont1", sans-serif;
}

.elem3-part1 {
  padding: 1.1vw 2vw;
}
.elem3-part1 span span {
  font-size: 9px;
  background-color: #000;
  color: #fff;
  padding: 0.3vw 0.4vw;
  border-radius: 35px;
}
.elem3-part2 {
  margin-top: 3vh;
  z-index: 12;
  background-color: lightseagreen;
}

.elem3-part2 h1::after {
  content:"";
  height: 2px;
  background-color: #000;
  width: 25%;
}
.elem3-part2 h1 {
  transform: translateY(100px);
  opacity: 0;
  font-size: 4vw;
  font-weight: 100;
}

/*********** PAGE 3 CSS **************/

#page3-start {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "CustomFont1", sans-serif;
  font-size: 1.5vw;
  padding: 0 3%;
  font-weight: 100;
  margin-bottom: 2vh;
}

#page3-start span i {
  margin: 0 0.8vw;
}

#page3-cards {
  height: 75vh;
  padding-left: 1.05%;
  padding-right: 1.05%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  height: 100%;
  width: 32%;
  position: relative;
}

.card video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  transition: ease-in-out 0.4s;
}

.card:hover img {
  opacity: 0;
}

#page3-quote {
  font-family: "CustomFont1", sans-serif;
  width: 100%;
  min-height: 28vh;
  overflow: hidden;
  padding: 0 2.4vw;
  font-size: 1.7vw;
}

#quote {
  margin-bottom: 2vh;
}

#page3-end {
  font-family: "CustomFont1", sans-serif;
  font-size: 3.8vw;
  margin-top: 2vh;
}

#page3-end span {
  transition: transform 0.5s ease-out, opactiy 0.5s ease-out;
  letter-spacing: -1px;
}
